:root {

  --c-blue-400: hsl(220, 98%, 61%);
  --c-blue-700: hsl(235, 19%, 35%);
  --c-blue-800: hsl(235, 24%, 19%);
  --c-blue-900: hsl(235, 21%, 11%);

  --c-white-100: hsl(0, 0%, 98%);
  --c-white-200: hsl(236, 33%, 92%);
  --c-white-300: hsl(234, 39%, 85%);
  --c-white-400: hsl(233, 11%, 84%);

  --c-gray-500: hsl(236, 9%, 61%);
  --c-gray-600: hsl(234, 11%, 52%);
  --c-gray-700: hsl(233, 14%, 35%);
  --c-gray-800: hsl(237, 14%, 26%);


  --c-gradient-background: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));
  --c-sasdasd-asdasd: hsl(211, 100%, 50%);
}

// ### Light Theme

// - Very Light Gray: hsl(0, 0%, 98%)
// - Very Light Grayish Blue: hsl(236, 33%, 92%)
// - Light Grayish Blue: hsl(233, 11%, 84%)
// - Dark Grayish Blue: hsl(236, 9%, 61%)
// - Very Dark Grayish Blue: hsl(235, 19%, 35%)

// ### Dark Theme

// - Very Dark Blue: hsl(235, 21%, 11%)
// - Very Dark Desaturated Blue: hsl(235, 24%, 19%)
// - Light Grayish Blue: hsl(234, 39%, 85%)
// - Light Grayish Blue (hover): hsl(236, 33%, 92%)
// - Dark Grayish Blue: hsl(234, 11%, 52%)
// - Very Dark Grayish Blue: hsl(233, 14%, 35%)
// - Very Dark Grayish Blue: hsl(237, 14%, 26%)